# Code owners for the repository
# Lines are of the form: <pattern> <owner1> <owner2>
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @SamSaladino
.github/workflows/ @SamSaladino
src/ @SamSaladino
tests/ @SamSaladino
